/* Configurações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html, body, input {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

.container {
  padding: 1.6rem 2.4rem;
}

.content {
  width: min(38.2rem, 100%);
  margin-inline: auto;
  margin-top: 3.2rem;
}

img {
  width: 100%;
}

/* HEADER CONFIG */

header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  background-color: #065E7C;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem;
  border: none;
  border-radius: .4rem;
  background: rgba(255, 255, 255, 0.20);
  color: #FFF;
  font-weight: 600;
  line-height: 100%;
}

.input-wrapper input::placeholder {
  color: #FFF;
  font-weight: 600;
  line-height: 100%;
}

header .avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  overflow: hidden;
}

/* MAIN CONFIG */

.title h1, h2 {
  color:  #202024;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
}

.feedback {
  display: flex;
  gap: 1.2rem;
  margin-top: .8rem;
}

.feedback .like, .feedback .deslike {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #065E7C;
  border-radius: 50%;
}

main p {
  color: #121214;
}

main div + p {
  margin-top: 3.2rem;
}

main p + p {
  margin-top: 1.2rem;
}

/* ASIDE CONFIG */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.item img {
  width: 15.1rem;
  height: 8.4rem;
  object-fit: cover;
  display: block;
}

figcaption h3 {
  color:#202024;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

figcaption p {
  color:#121214;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 160%;
}

/* FOOTER CONFIG */
footer {
  background-color: #387E96;
  text-align: center;
  margin-top: 3.2rem;
}

footer p {
  color: #FFF;
  font-weight: 600;
}

/* DESKTOP CONFIG */

@media (min-width: 1140px) {
  .content {
    width: 100%;
    margin: 0;
  }

  .container {
    padding: 1.6rem 11.2rem;
  }

  #app {
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main aside'
    'footer footer footer';
    gap: 4rem 3.2rem;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    margin-left: 11.2rem;
  }

  .hero-banner img {
    border-radius: .5rem;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.2rem;
  }

  .feedback {
    margin-top: 0;
  }

  aside {
    grid-area: aside;
    margin-right: 11.2rem;
    max-width: 38.4rem;
  }

  footer {
    grid-area: footer;
    margin-top: 0;
  }
}